$primary-color: #33393e;
$secondary-color: #070809;

$primary-color-accent: #4b4f52;
$secondary-color-accent: #24282b;

$shadow-color: #191c1e;
$shadow-color-secondary: #2f3438;

$accent-color: #d41a06;
$accent-color-primary: #e5593c;
$accent-color-secondary: #e5593c;

$text-color-primary: #eeeeee;
$text-color-secondary: #83878a;
$text-color-accent: #1f4287;
